body {
  --background: #f4f7fe;

  --main-text: #2b3674;
  --elements: #016ae7;
  --breadcrumbs: #707eae;
  --unactive-text: #a3aed0;
  --button-hover: #055ec8;

  --black: black;
  --white: white;
  --grey: #989898;

  --resolved: #21dc3f;
  --rejected: #ff2d52;
  --graph-main: #6ad2ff;
  --graph-secondary: #05cd99;

  --global-font: "Roboto";

  img[rounded] {
    border-radius: 100% !important;
  }

  img[smooth] {
    border-radius: 8px !important;
  }

  .page__header {
    font-weight: 700 !important;
    font-size: 34px !important;
    line-height: 140% !important;
  }

  .table-card__header {
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 28px !important;
  }

  .card__header {
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 23px !important;
  }

  .input__header {
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 23px !important;
  }

  .card__text {
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 140% !important;
  }

  .forms__text {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 140% !important;
  }

  .text {
    font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 140% !important;
  }

  .menu__button__text {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19px !important;
  }

  .card__name__text {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 19px !important;
  }

  .table__action__text {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 140% !important;
  }

  .status__choose__text {
    font-weight: 300 !important;
    font-size: 15px !important;
    line-height: 18px !important;
  }

  .table__text {
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .breadcrumbs__text {
    font-weight: 500 !important;
    font-size: 14px !important ;
    line-height: 16px !important;
  }

  .search__text {
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .fill__card__text {
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 13px !important;
  }

  .small__text {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 140% !important;
  }
}

h1,
h2,
h3,
h4,
h5,
span,
div,
a,
input,
article,
textarea,
button,
p {
  font-family: "Roboto" !important;
  font-style: normal !important;
  margin: 0;
}
